// Headings and Text
@mixin font($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}

h1.logo-text { 
  @include font(14vw, 900);
  line-height: 0;
}
h1 { @include font(10vw, 900); }
h2.header { @include font(10vw, 900) }
h2 { @include font(20px, 600) }
h3 { @include font(18px, 600) }
h4, .label { 
  @include font(20px, 400);
  font-family: 'mrs-eaves-roman-all-small-ca', $serif;
}

p,
li { @include font(16px, 300) }
a { 
  @include font(16px, 600);
  text-decoration: none;
  color: $dark-font;

  &:hover {
    font-style: italic;
  }
}

.emphasis { font-style: italic; }
.quote { font-family: $serif; }
.caption { 
  @include font(4vw, 300);
}

// Buttons
button {
  @include font(16px, 600);
  background: $primary-yellow;
  color: $dark-font;
  font-family: $sans-serif;
  border: none;
  padding: 14px 18px;
  border-radius: 100px;
  outline: none;
  box-shadow: $shadow;
  cursor: pointer;

  &.secondary {
    background: white;
    border: 3px solid $primary-pink;
    color: $primary-pink;
    font-weight: bold;
  }

  &.tertiary {
    background: none;
    color: $dark-font;
    font-family: $sans-serif;
    border: none;
    padding: 0;
    border-radius: none;
    outline: none;
    box-shadow: none;
    text-decoration: underline;
  }

  &.pink {
    background: $primary-pink;
    color: $light-font;
  }

  &:hover {
    font-style: italic;
  }
}

// Page
@mixin grid($col, $row, $gap) {
  display: grid;
  grid-template-columns: $col;
  grid-template-rows: $row;
  grid-gap: $gap;
}

.content {
  width: 85%;
  margin: auto;
}

.section-margin {
  margin-top: $spacing*10;
}
