// Headings and Text
@mixin font($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}

h1.logo-text { 
  @include font(16vw, 900);
  line-height: 0;
}
h1 { @include font(10vw, 900) }
h2.header { @include font(10vw, 900) }
h2 { @include font(20px, 600) }
h3 { @include font(18px, 600) }
h4, .label { 
  @include font(20px, 400);
  font-family: 'mrs-eaves-roman-all-small-ca', $serif;
}

p { @include font(16px, 400) }
a { 
  @include font(16px, 600);
  text-decoration: none;
  color: $dark-font;
}
a:hover {
  font-style: italic;
}

.emphasis { font-style: italic; }
.quote { font-family: $serif; }
.caption { 
  @include font(6.5vw, 400);
  font-family: 'essonnes-text', $serif;
}

// Buttons
button {
  @include font(16px, 600);
  background: $primary-yellow;
  color: $dark-font;
  font-family: $sans-serif;
  border: none;
  padding: 10px 15px;
  border-radius: 100px;
  outline: none;

  &:hover {
    font-style: italic;
  }
}

// Page
@mixin grid($col, $row, $gap) {
  display: grid;
  grid-template-columns: $col;
  grid-template-rows: $row;
  grid-gap: $gap;
}

.content {
  width: 85%;
  margin: auto;
}

.section-margin {
  margin-top: $spacing*10;
}

.placeholder-image {
  width: 60vw;
  height: 40vw;
  margin: auto;
  background: $light-grey;
}
