@import '../../../node_modules/@braid/vue-formulate/themes/snow/snow.scss';

@mixin font($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}

@mixin grid($col, $row, $gap) {
  display: grid;
  grid-template-columns: $col;
  grid-template-rows: $row;
  grid-gap: $gap;
}

// Text
h1 { @include font(1.5em, 600) }

p { @include font(1em, 300) }

a {
  color: $red;
}

// Page
.content {
  width: 85%;
  margin: auto;
  position: relative;

  &.padding {
    &.top {
      padding-top: 60px;
    }
    
    &.bottom {
      padding-bottom: 60px;
    }
  }
}

.sign-up-in {
  .form {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .button {
    position: absolute;
    right: 0;
  }
}

// Elements
button {
  border: none;
  font-family: $sans-serif;
  @include font(1em, 600);
  padding: 8px 22px;
  border-radius: 100px;
  
  &.primary {
    background: $red;
    color: $light-font;
  }

  &.secondary {
    background: lighten($color: $red, $amount: 35%);
    color: $red;
  }

  &.wave-background {
    background-size: 110%;
    background-position: center;
  }
}
