// Font
$sans-serif: 'sofia-pro', Helvetica, Arial, sans-serif;
$serif: 'mrs-eaves', serif;
$dark-font: #393D3F;
$light-font: #FFF;
// Colour 
$background: #F6F6F6;
$primary-pink: #E05E48;
$primary-blue: #077594;
$primary-yellow: #FFD275;
$secondary-pink: #EAA69D;
$secondary-light-pink: #F3CEC9;
$secondary-blue: #77B3C4;
$secondary-light-blue: #B4D5DE;
$dark-grey: #4B4E50;
$grey: #717A7C;
$light-grey: #DBDBDC;
